.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menu li:not(:last-child) {
  padding-right: 1rem;
}

.menu li:not(:last-child):after {
  padding-left: 1rem;
  content: '·';
}
