.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: var(--app-height);
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.container main {
  grid-area: main;
  display: grid;
  grid-template-rows: auto 1fr;
  text-align: center;
  background-color: var(--background-color);
}

.container main article {
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

.container main > h2 {
  margin: 0 calc(-1 * var(--page-padding));
  padding: 2rem var(--page-padding);
  background-color: var(--overlay-color);
}

.container header,
.container footer {
  background-color: var(--overlay-color);
  position: sticky;
  width: 100%;
  z-index: var(--max-zindex);
  box-sizing: border-box;
}

.container header h1 {
  font-size: 1rem;
  text-align: center;
}

.container footer {
  bottom: 0;
  padding: 1rem;
}
