/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.project_page {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 15px;
}

h1 {
    margin-bottom: 30px;
    color: #8697BF;
}

.container {
    margin: 0;
    column-count: 3;
    column-width: 33%;
    padding: 0 12px;
}


.img {
    max-width: 100%;
}

.container .img:hover {
    transform: scale(1.02);
    opacity: 0.8;
}


.slider_wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .slider_wrap .btn_prev, .slider_wrap .btn_next, .slider_wrap .btn_close {
    position: fixed;
    cursor: pointer;
    opacity: 0.6;
    color: #fff;
    z-index: 9999;
  }
  
  .btn_next:hover, .btn_prev:hover, .btn_close:hover {
    opacity: 1;
  }
  
  .slider_wrap {

  }

  .slider_wrap .btn_prev {
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
  }
  
  .slider_wrap .btn_next {
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
  }

  .slider_wrap .btn_close {
    top: 40px;
    right: 40px;
  }
  .full_screen_image {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
  }