@media (min-width: 768px) {
  .container {
    column-count: 2;
  }
}

/*@media (min-width: 1200px) {*/
/*  .container {*/
/*    column-count: 3;*/
/*  }*/
/*}*/

.project {
  display: block;
  margin-bottom: 2rem;
}

.body {
  display: inline-block;
}

.name {
  /*bottom: -1.5rem;*/
  /*left: 0;*/
  /*right: 0;*/
  display: inline-block;
  text-align: center;
  font-size: 1rem;
}

.image {
  display: block;
  width: 100%;
  overflow: hidden;
}

.image img {
  display: block;
  width: 100%;
}

.image:hover img {
  transform: scale(1.05);
  transition: transform 0.3s;
}
