@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cantarell&display=swap');

:root {
  --app-height: 100vh;

  --primary-color: #467714;
  --primary-color-hover: #55a103;

  --text-color: inherit;
  --link-color: inherit;
  --link-color-hover: var(--primary-color);
  --background-color: #f8eee1;
  --overlay-color: white;

  --page-padding: 2rem;
  --max-zindex: 100;
}

body {
  margin: 0;
  font-family: 'Cantarell', sans-serif;
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cantarell', sans-serif;
  font-weight: 300;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

hr {
  border-color: var(--primary-color);
  border-bottom: none;
  width: 30rem;
  max-width: 50vw;
  margin: 1rem auto;
}

main > h2 {
  font-family: 'Alice', sans-serif;
  font-size: 3rem;
  text-align: center;
}

.color-primary {
  color: var(--primary-color);
}
