name: Update checks

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch:
    inputs:
      readme_branch:
        type: choice
        required: false
        options:
          - v2-api-test
          - v2.0
        default: v2-api-test
        description: Readme branch to deploy to


jobs:
  Setup:
    runs-on: ubuntu-latest
    env:
      readme-env: ${{ inputs.readme_branch || 'v2-api-test' }}
      include-drafts: ${{ inputs.readme_branch == 'v2-api-test' && 'true' || 'false' }}

    steps:
      - run: echo "${readme-env}, ${include-drafts}"
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-workspace

  Lint:
    runs-on: ubuntu-latest
    needs: Setup

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-workspace
      - run: npx nx lint

  Format:
    runs-on: ubuntu-latest
    needs: Setup

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-workspace
      - run: npx nx format:check

  Build:
    runs-on: ubuntu-latest
    needs: Setup

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-workspace
      - run: npx nx build
      - name: Upload pages artifact
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./dist/luba-web

  Test:
    runs-on: ubuntu-latest
    needs: Setup

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-workspace
      - run: npx nx test

  Deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: [Lint, Format, Build, Test]

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
