name: Update checks

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  Setup:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-workspace

  Lint:
    runs-on: ubuntu-latest
    needs: Setup

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-workspace
      - run: npx nx lint

  Format:
    runs-on: ubuntu-latest
    needs: Setup

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-workspace
      - run: npx nx format:check

  Build:
    runs-on: ubuntu-latest
    needs: Setup

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-workspace
      - run: npx nx build
      - name: Upload pages artifact
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./dist/luba-web

  Test:
    runs-on: ubuntu-latest
    needs: Setup
    
    env:
      WIKI_PATH: dist/wiki

    permissions:
      pull-requests: write

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          
      - uses: ./.github/actions/setup-workspace
      
      - run: npx nx test --coverage
      
      - name: Coverage Report as Comment (Clover)
        if: github.event_name == 'pull_request'
        uses: lucassabreu/comment-coverage-clover@main
        with:
          file: coverage/luba-web/clover.xml

      - name: Prepare coverage report in Markdown
        if: github.event_name == 'push'
        uses: fingerprintjs/action-coverage-report-md@v1
        id: coverage
        with:
          textReportPath: './developer-hub/coverage/text-report.txt'
          srcBasePath: './developer-hub'

      - name: Save coverage report to file
        run: mkdir ${{ env.WIKI_PATH }} && echo "${{ steps.coverage.outputs.markdownReport }}" > ${{ env.WIKI_PATH }}/test-coverage-report.md

      - name: Publish coverage report to GitHub Wiki
        if: github.event_name == 'push'
        uses: Andrew-Chen-Wang/github-wiki-action@v4
        with:
          path: ${{ env.WIKI_PATH }}

  Deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: [Lint, Format, Build, Test]

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
