name: Update checks

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  Setup:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-workspace

  Lint:
    runs-on: ubuntu-latest
    needs: Setup

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-workspace
      - run: npx nx lint

  Format:
    runs-on: ubuntu-latest
    needs: Setup

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-workspace
      - run: npx nx format:check

  Build:
    runs-on: ubuntu-latest
    needs: Setup

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-workspace
      - run: npx nx build
      - name: Upload pages artifact
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./dist/luba-web

  Test:
    runs-on: ubuntu-latest
    needs: Setup

    env:
      WIKI_PATH: dist/wiki

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup-workspace

      - run: npx nx test --coverage

      - name: Coverage Report as Comment (Clover)
        if: github.event_name == 'pull_request'
        uses: lucassabreu/comment-coverage-clover@main
        with:
          file: coverage/luba-web/clover.xml

      - name: Prepare coverage report in Markdown
        if: github.event_name == 'push'
#        uses: fingerprintjs/action-coverage-report-md@v1
        uses: saschanowak/CloverCodeCoverageSummary@0.4.0
        id: coverage
        with:
          filename: coverage/luba-web/clover.xml
#          textReportPath: './coverage/luba-web/coverage.txt'
#          srcBasePath: './src'

      - name: Save coverage report to file
        if: github.event_name == 'push'
#        env:
#          MARKDOWN: ${{ steps.coverage.outputs.markdownReport }}
#        run: mkdir -p ${WIKI_PATH} && echo "${MARKDOWN}" > ${WIKI_PATH}/Test-coverage-report.md
        run: mkdir -p ${WIKI_PATH} && mv code-coverage-details.md ${WIKI_PATH}/Test-coverage-report.md

      - name: Publish coverage report to GitHub Wiki
        if: github.event_name == 'push'
        uses: Andrew-Chen-Wang/github-wiki-action@v4
        with:
          path: ${{ env.WIKI_PATH }}

  Deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: [Lint, Format, Build, Test]

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
