.placeholder {
  width: 200px;
  height: 100vh;
}

.container {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 200px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: bisque;
  z-index: 9999;
}

.logo {
  margin: 25px;
  border-radius: 350px;
  height: 150px;
  width: 150px;
}

.menu {
  position: relative;
  border-color: blue;
  list-style-type: none;
}

.menu_list {
  position: relative;
  margin: 0;
  padding: .25rem 0;
}

.menu_list.menu:hover {
  color: pink;
}

.drop {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  left: calc(100% - 1rem);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.menu_list:hover .drop {
  display: block;
  position: absolute;
  top: 0;
  width: 100px;
  background-color: rgb(228, 221, 214);
  border-color: black;
}

.contacts {
  margin-right: 50px;
  margin-left: 50px;
  padding: 0;
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  list-style-type: none;
  color: black;
}
